@import "~src/assets/scss/colors.scss";

.mat-button-base {
  &.mat-button,
  &.mat-flat-button,
  &.mat-raised-button,
  &.mat-stroked-button,
  &.mat-fab,
  &.mat-mini-fab {
    &.outline {
      background-color: white;
      border: 2px solid $black;
      color: $black;
      line-height: 32px;
    }
    &.mat-button-disabled {
      border-color: rgba(0, 0, 0, 0.12);
    }
  }
}

.gradient {
  &.mat-flat-button,
  &.mat-raised-button,
  &.mat-stroked-button,
  &.mat-fab,
  &.mat-mini-fab {
    color: white;
    background-color: $default-color;
    background: linear-gradient(90deg, $lightgreen 0%, $green 35%);
    &.mat-button-disabled {
      background-color: rgba(0, 0, 0, 0.12);
      background: rgba(0, 0, 0, 0.12);
    }
    &.outline {
      background-color: white;
      border: 2px solid $lightgreen;
      color: $lightgreen;
      line-height: 32px;
    }
  }
  &.mat-button.outline {
    background-color: white;
    border: 2px solid $lightgreen;
    color: $lightgreen;
    line-height: 32px;
  }
}

.mat-accent {
  &.mat-button,
  &.mat-flat-button,
  &.mat-raised-button,
  &.mat-stroked-button,
  &.mat-fab,
  &.mat-mini-fab {
    &.outline {
      background-color: white;
      border: 2px solid $default-color;
      color: $default-color;
      line-height: 32px;
    }
    &.mat-button-disabled {
      border-color: rgba(0, 0, 0, 0.12);
    }
  }
}

.mat-warn {
  &.mat-button,
  &.mat-flat-button,
  &.mat-raised-button,
  &.mat-stroked-button,
  &.mat-fab,
  &.mat-mini-fab {
    &.outline {
      background-color: white;
      border: 2px solid $error-color;
      color: $error-color;
      line-height: 32px;
    }
    &.mat-button-disabled {
      border-color: rgba(0, 0, 0, 0.12);
    }
  }
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  &.round {
    border-radius: 36px;
  }
}
