<main class="page-container">

  <section>
    <div class="container-fluid proyecto-nav-container">
      <div class="row">
        <div class="col">
          <div class="text-start">Proyectos</div>
        </div>
        <div class="col-auto">
          <button mat-flat-button matTooltip="Filtrar por estado" class="filter-button">
            <span>Estado</span>
            <mat-icon color="accent">filter_alt</mat-icon>
          </button>
        </div>
        <div class="col-auto">
          <button mat-flat-button matTooltip="Filtrar por fecha" class="filter-button">
            <span>Rango de fecha</span>
            <mat-icon color="accent">calendar_view_month</mat-icon>
          </button>
        </div>
        <div class="col-auto">
          <button mat-flat-button matTooltip="Filtrar por usuario" class="filter-button">
            <span>Usuario</span>
            <mat-icon color="accent">filter_alt</mat-icon>
          </button>
        </div>
        <div class="col-auto search">
          <mat-form-field appearance="outline">
            <input matInput type="text" placeholder="Buscar">
            <mat-icon matPrefix color="accent">search</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card card-body">

        <table mat-table [dataSource]="dataSource" matSort matSortActive="estado" matSortDisableClear matSortDirection="desc">

          <ng-container matColumnDef="proyectos">
            <th mat-header-cell *matHeaderCellDef> PROYECTOS </th>
            <td mat-cell *matCellDef="let row">
              {{row.razon_social}}
            </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> ESTADO </th>
            <td mat-cell *matCellDef="let row">
              {{row.domicilio}}
            </td>
          </ng-container>

          <ng-container matColumnDef="responsable">
            <th mat-header-cell *matHeaderCellDef> RESPONSABLE </th>
            <td mat-cell *matCellDef="let row">
              ---
            </td>
          </ng-container>

          <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef> ROL </th>
            <td mat-cell *matCellDef="let row">
              ---
            </td>
          </ng-container>

          <ng-container matColumnDef="fecha_creacion">
            <th mat-header-cell *matHeaderCellDef> FECHA CREACIÓN </th>
            <td mat-cell *matCellDef="let row">
              {{row.fecha_creacion | date: 'dd/MM/yyyy' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fecha_edicion">
            <th mat-header-cell *matHeaderCellDef> FECHA EDICIÓN </th>
            <td mat-cell *matCellDef="let row">
              01/01/2022
            </td>
          </ng-container>

          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef> USUARIO </th>
            <td mat-cell *matCellDef="let row">
              Usuario 2
            </td>
          </ng-container>

          <ng-container matColumnDef="ver_detalle">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button mat-flat-button color="accent" [routerLink]="['/project', row.id, 'detail']">
                Ver detalles
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <h4 class="text-center my-sm-3" *ngIf="listProjects.length === 0 && !isLoading">
          <span>No se detectaron proyectos</span>
        </h4>
        <h4 class="text-center my-sm-3"
          *ngIf="dataSource.filteredData.length === 0 && listProjects.length !== 0 && !isLoading">
          <span>
              No se encontraron resultados que coincidan con su busqueda
          </span>
        </h4>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </section>

  <div class="page-footer right">
    <button mat-stroked-button color="accent" class="round outline" [routerLink]="['/project/new']" matTooltip="Crear nuevo proyecto">
      Nuevo proyecto
    </button>
  </div>

</main>
