
<h5 class="modal-title" id="modal-title-default">{{title}}</h5>


<p class="py-2 text-primary"> {{msg}}</p>


<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alertStatus">
    <span class="alert-inner--text">
        {{message}}
    </span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
        (click)="alertStatus = !alertStatus">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="alert alert-primary alert-dismissible fade show" role="alert" *ngIf="sendMail">
    <span class="alert-inner--text">
        {{message}}
    </span>
    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"
        (click)="sendMail = !sendMail">
        <span aria-hidden="true">×</span>
    </button> -->
</div>

<form>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12">
                <label class="text-warning">Usuario</label>
                <input matInput placeholder="Ingrese su usuario" formControlName="usernameCtrl" required>
        </div>
    </div>
</form>

<div style="text-align: end;">
    <button type="button" class="btn btn-outline-warning" (click)="close()">{{btn2}}</button>
    <button type="button" class="btn btn-outline-warning" (click)="forgot()" [disabled]="isLoading || sendMail">
        {{btn}}
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
    </button>
</div>
