
<h2 mat-dialog-title>{{title}}</h2>
<p class="py-2 text-primary"> {{msg}}</p>

<mat-dialog-content>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alertStatus">
    <span class="alert-inner--text">
      {{message}}
    </span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="alertStatus = !alertStatus">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="alert alert-primary alert-dismissible fade show" role="alert" *ngIf="sendMail">
    <span class="alert-inner--text">
      {{message}}
    </span>
    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"
        (click)="sendMail = !sendMail">
        <span aria-hidden="true">×</span>
    </button> -->
  </div>

  <form [formGroup]="formGroup">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Ingrese su usuario" formControlName="usernameCtrl" required>
      <mat-error *ngIf="formGroup.controls['usernameCtrl'].hasError('required')">
        El usuario es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="end-xs">
  <button mat-flat-button color="accent" class="outline" (click)="close()">{{btn2}}</button>
  <button mat-raised-button color="accent" (click)="forgot()" [disabled]="isLoading || sendMail">
    {{btn}}
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
  </button>
</mat-dialog-actions>
