<form [formGroup]="formGroup" (submit)="save()">
  <h2 mat-dialog-title>{{title}}</h2>
  <p class="py-2 text-primary"> {{msg}}</p>

  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput formControlName="username">
      <mat-error *ngIf="formGroup.controls['username'].hasError('required')">
        El usuario es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" [hidden]="!isPasswordChange">
      <mat-label>Contraseña nueva</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="showPassword ? 'text' : 'password'"
      />
      <button
        type="button"
        matSuffix
        mat-icon-button
        (click)="showPassword = !showPassword"
      >
        <mat-icon>
          {{showPassword ? "visibility_off" : "visibility"}}
        </mat-icon>
      </button>
      <mat-error *ngIf="formGroup.controls['password'].hasError('required')">
        La contraseña es <strong>requerida</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" [hidden]="!isPasswordChange">
      <mat-label>Confirmar nueva contraseña</mat-label>
      <input
        matInput
        formControlName="passwordRepeat"
        [type]="showConfirmPassword ? 'text' : 'password'"
      />
      <button
        type="button"
        matSuffix
        mat-icon-button
        (click)="showConfirmPassword = !showConfirmPassword"
      >
        <mat-icon>
          {{showConfirmPassword ? "visibility_off" : "visibility"}}
        </mat-icon>
      </button>
      <mat-error *ngIf="formGroup.controls['passwordRepeat'].hasError('required')">
        Debe confirmar la contraseña
      </mat-error>
      <mat-error *ngIf="formGroup.controls['passwordRepeat'].hasError('confirmPasswordValidator')">
        La contraseña elegida y de la confirmación no coinciden
      </mat-error>
    </mat-form-field>
    <div [hidden]="isPasswordChange" class="change-password-button">
      <button mat-raised-button color="accent" (click)="isPasswordChange = true">Cambiar Contraseña</button>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="formGroup.controls['firstName'].hasError('required')">
        El nombre es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="formGroup.controls['lastName'].hasError('required')">
        El apellido es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>E-mail </mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="formGroup.controls['email'].hasError('required')">
        El e-mail es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Seleccione un rol</mat-label>
      <mat-select formControlName="rol">
        <mat-option *ngFor="let rol of roles" [value]="rol.rol">{{rol.desc}}</mat-option>
      </mat-select>
      <mat-error *ngIf="formGroup.controls['rol'].hasError('required')">
        El rol es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="end-xs">
    <button type="button" mat-flat-button color="accent" class="outline" (click)="close(false)">{{btn2}}</button>
    <button type="submit" mat-raised-button color="accent" [disabled]="formGroup.invalid">{{btn}}</button>
  </mat-dialog-actions>
</form>
