<h2 mat-dialog-title>{{title}}</h2>
<p class="py-2 text-primary"> {{msg}}</p>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="usuario" formControlName="usernameCtrl" required>
    </mat-form-field>
    <mat-form-field appearance="outline" [hidden]="!isPasswordChange">
      <mat-label>Contraseña nueva</mat-label>
      <input
        matInput
        formControlName="passwordCtrl"
        [type]="showPassword ? 'text' : 'password'"
      />
      <button
        type="button"
        matSuffix
        mat-icon-button
        (click)="showPassword = !showPassword"
      >
        <mat-icon>
          {{showPassword ? "visibility_off" : "visibility"}}
        </mat-icon>
      </button>
      <mat-error *ngIf="formGroup.controls['passwordCtrl'].hasError('required')">
        La contraseña es <strong>requerida</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" [hidden]="!isPasswordChange">
      <mat-label>Confirmar nueva contraseña</mat-label>
      <input
        matInput
        formControlName="passwordRepeatCtrl"
        [type]="showConfirmPassword ? 'text' : 'password'"
      />
      <button
        type="button"
        matSuffix
        mat-icon-button
        (click)="showConfirmPassword = !showConfirmPassword"
      >
        <mat-icon>
          {{showConfirmPassword ? "visibility_off" : "visibility"}}
        </mat-icon>
      </button>
      <mat-error *ngIf="formGroup.controls['passwordRepeatCtrl'].hasError('required')">
        La confirmación de contraseña es <strong>requerida</strong>
      </mat-error>
    </mat-form-field>
    <div [hidden]="isPasswordChange" class="change-password-button">
      <button mat-raised-button color="accent" (click)="isPasswordChange = true">Cambiar Contraseña</button>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Juan" formControlName="firstNameCtrl" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input matInput placeholder="Perez" formControlName="lastNameCtrl" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>E-mail </mat-label>
      <input matInput type="email" placeholder="juanperez@mail.com" formControlName="emailCtrl" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Seleccione un rol</mat-label>
      <mat-select formControlName="rolCtrl" required>
        <mat-option *ngFor="let rol of roles" [value]="rol.rol">{{rol.desc}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="end-xs">
  <button mat-flat-button color="accent" class="outline" (click)="close(false)">{{btn2}}</button>
  <button mat-raised-button color="accent" (click)="add()">{{btn}}</button>
</mat-dialog-actions>
