.admin-premises-detail-container {
  margin-top: 0rem;
}

.admin-premises-detail-container::ng-deep {
  .mat-card-header-text {
    margin: 0;
  }
}

.row-title {
  font-size: 18px;
  font-weight: 500;
}

.key {
  font-size: 16px;
  font-weight: 500;
}

.value {
  font-size: 16px;
}

.mat-card .mat-divider-horizontal {
  position: relative;
  margin: 1rem 0rem 1rem 0rem;
}

.col, .col-auto {
  margin-top: 1rem;
}
