
<h2 mat-dialog-title>{{title}}</h2>
<p class="py-2 text-primary">{{msg}}</p>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Estados</mat-label>
      <mat-select formControlName="statusCtrl" required>
        <mat-option *ngFor="let item of estados" [value]="item.estado">{{item.estado}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="end-xs">
  <button mat-flat-button color="accent" class="outline" (click)="close()">{{btn2}}</button>
  <button mat-raised-button color="accent" (click)="action()">{{btn}}</button>
</mat-dialog-actions>
