<div class="row mat-dialog-header">
  <div class="col">
    <h2 mat-dialog-title>Cambia tu contraseña</h2>
  </div>
  <button mat-icon-button class="col-auto" (click)="close(false)">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<form [formGroup]="formGroup">
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      formControlName="oldPassword"
      [type]="showPassword ? 'text' : 'password'"
    />
    <button
      type="button"
      matSuffix
      mat-icon-button
      (click)="showPassword = !showPassword"
    >
      <mat-icon>
        {{showPassword ? "visibility_off" : "visibility"}}
      </mat-icon>
    </button>
    <mat-error *ngIf="formGroup.controls['oldPassword'].hasError('required')">
      La contraseña vieja es <strong>requerida</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Contraseña nueva</mat-label>
    <input
      matInput
      formControlName="newPassword"
      [type]="showNewPassword ? 'text' : 'password'"
    />
    <button
      type="button"
      matSuffix
      mat-icon-button
      (click)="showNewPassword = !showNewPassword"
    >
      <mat-icon>
        {{showNewPassword ? "visibility_off" : "visibility"}}
      </mat-icon>
    </button>
    <mat-error *ngIf="formGroup.controls['newPassword'].hasError('required')">
      La contraseña nueva es <strong>requerida</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Confirmar nueva contraseña</mat-label>
    <input
      matInput
      formControlName="newPasswordConfirm"
      [type]="showRepeatPassword ? 'text' : 'password'"
    />
    <button
      type="button"
      matSuffix
      mat-icon-button
      (click)="showRepeatPassword = !showRepeatPassword"
    >
      <mat-icon>
        {{showRepeatPassword ? "visibility_off" : "visibility"}}
      </mat-icon>
    </button>
    <mat-error *ngIf="formGroup.controls['newPasswordConfirm'].hasError('required')">
      Debe confirmar la contraseña
    </mat-error>
    <mat-error *ngIf="formGroup.controls['newPasswordConfirm'].hasError('confirmPasswordValidator')">
      La contraseña elegida y de la confirmación no coinciden
    </mat-error>
  </mat-form-field>
</form>

<mat-dialog-actions class="end-xs">
  <button mat-flat-button color="accent" class="outline" (click)="close(false)">Cancelar</button>
  <button mat-raised-button color="accent" (click)="updatePass()" [disabled]="isLoading">
    Actualizar
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
  </button>
</mat-dialog-actions>
