@import "~src/assets/scss/buttons.scss";
@import "~src/assets/scss/colors.scss";
@import "~src/assets/scss/spinner.scss";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nextar-primary: mat-palette($nextar-black);
$nextar-accent: mat-palette($nextar-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$nextar-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$nextar-theme: mat-light-theme((
  color: (
    primary: $nextar-primary,
    accent: $nextar-accent,
    warn: $nextar-warn,
  )
));

$nextar-font-color: rgb(87, 87, 86);

@function nextar-light-theme-foreground($color) {
  @return (
    base:              $color,
    divider:           $dark-dividers,
    dividers:          $dark-dividers,
    disabled:          $dark-disabled-text,
    disabled-button:   rgba($color, 0.26),
    disabled-text:     $dark-disabled-text,
    elevation:         $color,
    hint-text:         $dark-disabled-text,
    secondary-text:    $dark-secondary-text,
    icon:              rgba($color, 0.54),
    icons:             rgba($color, 0.54),
    text:              $nextar-font-color,
    slider-min:        rgba($color, 0.87),
    slider-off:        rgba($color, 0.26),
    slider-off-active: rgba($color, 0.38),
  );
};

$nextar-foreground: nextar-light-theme-foreground(black);
$nextar-app-theme: map-merge($nextar-theme, (foreground: $nextar-foreground));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($nextar-app-theme);

/* You can add global styles to this file, and also import other style files */

.mat-body, .mat-body-1, .mat-typography {
  font: 400 14px/1.5 Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$page-footer-height: 64px;

.page-container {
  height: calc(100% - 16px);
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
  section {
    height: calc(100% - #{$page-footer-height});
    overflow: auto;
    padding-top: 16px;
  }
}

.page-footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: $page-footer-height;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;
  .mat-button-base+.mat-button-base,
  .mat-mdc-button-base+.mat-mdc-button-base {
    margin-left: 8px;
  }
}

.page-footer.right {
  justify-content: flex-end;
}

.bg-full {
  height: 100%;
}

.bg-full-without-header {
  height: calc(100% - 70px);
}

.card.card-body {
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  .mat-table {
    width: 100%;
  }
}

.col, .col-auto {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.filter-button.mat-flat-button {
  text-align: left;
  border-radius: 10px;
  color: rgb(87, 87, 86);

  .mat-icon {
    text-align: right;
    font-size: 20px;
  }
}

.full-width {
  width: 100%;
}

.mat-column-actions {
  text-align: right;
}

.mat-form-field[hidden] {
  display: none;
}

.mt-3 {
  margin-top: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.search {
  .mat-form-field-outline {
    border-radius: 10px;
    background-color: white;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-width: 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    border-top-width: 7px;
    padding: 9px;
  }
}

.text-start {
  margin-bottom: .5rem;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #575756;
}
